.container {
  height: 100%;
  color: var(--text-color);
}

.Prj__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}
.modItemsDiv {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.n {
  border-radius: 70px;
}

@media only screen and (max-width: 768px) {
  .Prj__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media only screen and (max-width: 380px) {
  .Prj__wrapper {
    display: block;
    padding: 10px;
  }
}
